.calendar-page {
  display: flex;
  background: #b9b9b9;
}

.my-rbc-container {
  display: flex;
  justify-content: center; /* Center the item horizontally */

  position: relative;
  margin: 1.5%;
  padding: 1.5% 1%;

  width: 70%;
  height: 80%; 
  border-radius: 5px;
  background: #353535;
}

.rbc-calendar {
  background: #353535;
  border-radius: 5px;
  margin: 1.5%;
  padding: 2.5% 2.5%;
  width: 70%;
  height: 90%; 
}

/*Tool Bar*/
.rbc-toolbar-label {
  font-size: x-large;
  font-weight: 500;
  color: #fff;
}

.rbc-toolbar button {
  background: #353535;
  color: #fff !important;
  cursor: pointer;
}

.rbc-toolbar button:hover {
  background-color: #555 !important;
}

/*Month View*/
.rbc-month-view {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rbc-month-view .rbc-event-content {
  font-size: small;
  font-weight: 500;
}

.rbc-month-header {
  height: 28px;
  color: #fff;
}

.rbc-day-bg {
  background: hsl(0, 0%, 80%);
}

.rbc-off-range-bg {
  background: hsl(0, 0%, 60%);
}

/*Week View*/
.rbc-time-view .rbc-allday-cell  .rbc-row{

}
.rbc-time-view {
  background: #b9b9b9;
}

.rbc-time-view .rbc-row {
  min-height: 28px;
}


.rbc-time-header.rbc-overflowing {
  background: #353535;
}

.rbc-time-view .rbc-row-bg .rbc-day-bg {
 
}
.rbc-timeslot-group {

}

.rbc-header {
  background: #353535;
  font: inherit;
  color: #fff;
}

.rbc-day-slot.rbc-time-column{

}

.rbc-time-gutter.rbc-time-column {
  background: #353535;
  color: #fff;
}

.rbc-label.rbc-time-header-gutter {
  background: #353535;
}

/*Agenda View*/
.rbc-agenda-view .rbc-agenda-date-cell, .rbc-agenda-time-cell {
  background: #353535;
  color: #fff !important;
}

/*Button*/
.rbc-active {
  color: #fff !important;
  background-color: #9B9B9B !important;
}

.rbc-month-view .rbc-button-link {
  color: black;
  font-weight: 500;
}

.rbc-events-container {
  overflow: auto;
}

.rbc-current-time-indicator {
  height: 3px;
  color: rgb(0, 253, 0);
}

/**/
.side-container {
  display: flex;
  flex-direction: column;

  position: relative;
  margin: 1.5%;
  margin-left: 0;

  width: 30%;

  border-radius: 5px;
  background: #b9b9b9;
  margin-bottom: 5em;
}

.side-component {

  margin-bottom: 5.347%;

  Color: #fff;
  background: #353535;
  border-radius: 5px;

  width: 100%;
}

.side-component-stuff {
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 5% 5%;
}

.side-component h3{
  text-align: center;
  margin: 0;
}

.side-component-2 {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background: #353535;
  padding-bottom: 2em;
}

/*Pop-up*/
.task-info {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 5% 8%;
}

.task-info .scroll {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.task-info h3{
  text-align: center;
  margin: 0;
  padding-bottom: 5%;
}
.task-info label {
  font: inherit;
  font-size: medium;
}
.task-info input {
  margin-bottom: 2%;
  padding: 0 2%;
  height: 2.5vh;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 4px;
  font: inherit;
  font-size: small;
  }
  
  .task-info select {
    margin-bottom: 2%;
    padding: 0 2%;
    height: 2.5vh;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: small;
  }
  
  .task-info select:disabled { 
    background: hsl(0, 0%, 80%); /* Change to the desired darker color */
    border: 1px hsl(0, 0%, 80%);
    opacity: 1;
    color: black;
  }
  
.task-info textarea {
  padding: 0 2%;
  border: 1px solid #fff;
  border-radius: 4px;
  
  box-sizing: border-box;
  height: 15vh;

  font-size: medium;
}
.task-info input.read-only {
  background: #b9b9b9; /* Change to the desired darker color */
  border: 1px #b9b9b9;
  color: black;
}

.task-info textarea.read-only {
  background: #b9b9b9; /* Change to the desired darker color */
  border: 1px #b9b9b9;
  color: black;
}


.task-info button {
  font-family: "Poppins";
  background: #353535;
  border: 1px solid #fff;
  color: #fff;
  width: 23%;
  border-radius: 2px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  margin: 1.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: background-color 0.3s;
}
.task-info button:hover {
  background-color: #555;
}

.rbc-day-bg.rbc-today {
  background-color: #eaf6ff !important;
}

.filters {
  display: flex;
  flex-flow: column;
  margin-left: 8%;
}

.filters input {
  color: black;
  font-size: large;
  font-weight: 400;
  width: 100%;
  padding-left: 2%;
}

.react-datepicker {
  font-family: inherit !important;
}

.react-datepicker__current-month {
  font-weight: 500 !important;
}

.react-datepicker__day--today {
  border-radius: 0.3rem;
  background-color: rgb(138, 226, 138) !important;
}
.react-datepicker__day--selected {
}

