.History {
  margin: 0;
}

.History .page-title {
  text-align: left;
  padding-left: 30px;
}

.History .filters-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 70px;
  gap: 10px;
  margin-bottom: 10px;
  background: #b9b9b9;
}

.History .filter-wrapper {
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
  white-space: nowrap;
}

.History .filter-select,
.History .filter-input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  margin-left: 08px;
  margin-bottom: 45px;
}

.History .search-wrapper .filter-input {
  flex-grow: 1;
  width: auto;
}

.History .clear-button button {
  background-color: #2087e7;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  height: auto;
  align-self: center;
  margin: 0;
  margin-bottom: 45px;
  margin-left: 10px;
}

.History .clear-button button:hover {
  background-color: #186db5;
}

.box-container {
  display: flex;
  justify-content: space-between;
}

.high-priority-box {
  background-color: #ffad99;
}

.low-priority-box {
  background-color: #adebad;
}

.medium-priority-box {
  background-color: #f3f899;
}

.box2 {
  width: 1300px;
  height: 20px;
  background-color: #e0e0e0;
  border: 0px solid #000;
  margin: 0px;
  padding: 0px;
  display: flex;
  font-size: 20px;
}

.box1 {
  width: 1300px;
  height: 46px;
  background-color: #e0e0e0;
  border: 0px solid #000000;
  margin: 0px;
  padding: 0px;
  display: flex;
  font-size: 20px;
}

.box {
  width: 1278px;
  height: 250px;
  background-color: #f2f2f2;
  border: 1px solid #000;
  margin: 0px;
  padding: 10px;
  display: flex;
  position: relative;
}

.little-box {
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border: 1px solid #000;
  margin: 10px;
  padding: 1px;
  font-size: 13px;
}

.little-box1 {
  width: 180px;
  height: 20px;
  border: 1px solid #000;
  margin: 4px;
  padding: 10px;
  font-size: 15px;
}

.little-box2 {
  position: relative;
  top: -10px;
  left: 1140px;
  width: 135px;
  height: 20px;
  background-color: #7fff7f;
  border: 2px solid #101010;
  margin: 0px 0px;
  padding: 5px 12px;
  font-size: 15px;
  text-align: center;
}
.deleted-box {
  position: relative;
  top: -10px;
  left: 1140px;
  width: 135px;
  height: 20px;
  background-color: #ff5858;
  border: 2px solid #101010;
  margin: 0px 0px;
  padding: 5px 12px;
  font-size: 15px;
  text-align: center;
}
.completed-box {
  position: relative;
  top: -10px;
  left: 1140px;
  width: 135px;
  height: 20px;
  background-color: #7fff7f;
  border: 2px solid #101010;
  margin: 0px 0px;
  padding: 5px 12px;
  font-size: 15px;
  text-align: center;
}

.deleted {
  position: relative;
  top: 0px;
  left: 1160px;
  width: 135px;
  height: 20px;
  background-color: #ff5858;
  border: 2px solid #101010;
  margin: 0px 0px;
  padding: 1px;
  font-size: 15px;
}
.restore-deleted {
  background-color: #ff5858; /* Set the button background color to match the background */
  color: #000; /* Set the button text color */
  border: none; /* Remove button border */
  padding: 12px 10px; /* Adjust button padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 15px;
  line-height: 0;
  font-weight: bold;
}

.restore-completed {
  background-color: #7fff7f; /* Set the button background color to match the background */
  color: #000; /* Set the button text color */
  border: none; /* Remove button border */
  padding: 12px 12px; /* Adjust button padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 12px;
  line-height: 0;
  font-weight: bold;
}
.restore-button {
  position: relative;
  left: 20%;
  width: 0px;
  border: 5px;
}
.task-box {
  position: relative;
}