.page-title h2 {
  margin-bottom: 100px;
}

.Overview .page-title {
  background-color: #b9b9b9;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 50px;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 10px;

}

.filter-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-top: 30px;
  margin-left: -100px;
}

.priority-label {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

.priority-select {
  width: 150px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-right: 10px;
}

.status-label {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

.status-select {
  width: 150px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-right: 10px;
}

.due-date-label {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

.date-select {
  width: 150px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-right: 10px;
}

.search-bar-label {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

.searchBar {
  width: 150px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-right: 10px;
}

.clear-button button {
  margin-top: 30px;
  background-color: #2087e7;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 4px;
  font-size: 1em;
  padding-left: 20px;
  margin-right: 1350px;
}

.clear-button button:hover {
  background-color: #186db5;
}

.box-container {
  display: flex;
  justify-content: space-between;
}

.high-priority-box {
  background-color: #ffad99;
}

.low-priority-box {
  background-color: #adebad;
}

.medium-priority-box {
  background-color: #f3f899;
}

.in-progress-box {
  background-color: #adebad;
}

.past-due-box {
  background-color: #ff7e5d;
}

.box2 {
  width: 1300px;
  height: 20px;
  background-color: #e0e0e0;
  border: 0px solid #000;
  margin: 0px;
  padding: 0px;
  display: flex;
  font-size: 20px;
}

.box1 {
  width: 1300px;
  height: 46px;
  background-color: #e0e0e0;
  border: 0px solid #000000;
  margin: 0px;
  padding: 0px;
  display: flex;
  font-size: 20px;
}

.box {
  width: 1278px;
  height: 250px;
  background-color: #f2f2f2;
  border: 1px solid #000;
  margin: 0px;
  padding: 10px;
  display: flex;
  position: relative;
}

.Overview .little-box {
  width: 325px;
  height: auto;
  background-color: #f2f2f2;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
}

.little-box1 {
  width: 180px;
  height: 20px;
  border: 1px solid #000;
  margin: 4px;
  padding: 10px;
  font-size: 15px;
}

.little-box2 {
  position: relative;
  top: 0px;
  left: 1160px;
  width: 135px;
  height: 20px;
  background-color: #adebad;
  border: 2px solid #000;
  margin: 0px 0px;
  padding: 1px;
  font-size: 15px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.little-box2:hover {
  background-color: #cfe8cf;
}

.little-box2.completed {
  position: relative;
  top: 0px;
  left: 1160px;
  width: 135px;
  height: 20px;
  background-color: rgb(8, 243, 161);
  border: 2px solid #101010;
  margin: 0px 0px;
  padding: 1px;
  font-size: 15px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.little-box2.completed:hover {
  background-color: #56615d;

}

.task-box {
  position: relative;
  margin-left: 20px;
}

.edit-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.edit-button button {
  background-image: url('../images/edit_icon.png');
  background-color: #4E4E4E;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
}