@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

.reset-password-container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 500px;
  background-color: #f1f1f1;
  padding: 20px;
}

@media (max-height: 600px) {
  .reset-password-container {
    height: auto;
    justify-content: start;
  }
}

.reset-password-content {
  width: 50%;
  max-width: 600px;
  background-color: #4a4a4a;
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password-content h2 {
  color: #fff;
  margin-bottom: 30px;
}

.reset-password-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password-content input {
  width: 90%;
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid #bababa;
  border-radius: 10px;
  background-color: #dadada;
  color: #333;
  font-size: 1.2rem;
}

.reset-password-content button {
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  background-color: #353535;
  color: #fff;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.reset-password-content button:hover {
  background-color: #555;
}

.reset-password-content p {
  color: #fff;
  margin-top: 30px;
  font-size: 1rem;
}
