@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

.reset-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reset-password-form .form-group {
    margin-bottom: 15px;
  }
  
  .reset-password-form .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .reset-password-form .form-group input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reset-password-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reset-password-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #ff0000;
    margin-bottom: 10px;
  }
  