.task-details {
  background: #DCDCDC;
  border: 1px solid rgb(7, 7, 7);
  border-radius: 4px;
  margin: 10px auto;
  padding: 15px;
  min-width: 15%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 300px; /* Consider using max-width for better responsiveness */
  height: 400px; /* Fixed height */
  overflow-y: auto; /* Adds vertical scrollbar if content overflows */
}

.task-details .task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-details h4 {
  flex-grow: 1; /* Allows the title to grow but confines it within the header space */
  margin-right: 10px; /* Adds some space between the title and the status */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-details .task-status {
  padding: 6px;
  /* Additional styling for the status */
}


.status-in-progress {
  color: green; 
}

.status-past-due {
  color: red; 
}

.task-details .task-info {
  margin-top: 10px;
}

.task-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.task-list-heading {
  color: #333; 
  margin-top: 20px;
  
}

.task-details .task-info p {
  margin-bottom: 10px;
}


.task-details .task-info p.description {
  margin-bottom: 10px; 
}
.task-details .task-info .description {
  color: #555;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


.task-details .task-info p.priority {
  margin-top: 80px; 
}

.task-details .description .task-desc-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  overflow-y: auto;
}